body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav {
    background-color: #000000cc;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    text-decoration: none;
    color: #f5f5f7;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    align-items: center;
    padding-right: 80px;
}
nav a {
    text-decoration: none;
    color: #d2d2d7;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
nav a:hover {
    color: white;
}
nav {
    display: flex;
    gap: 90px;
}
.nav div {
    position: relative;
    max-width: 980px; 
    width: 100%;
    margin: 0 auto;   
    display: flex;
    align-items: center;
    gap: 28px;
}
