body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav {
    background-color: #1d1d1f;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    text-decoration: none;
    color: #f5f5f7;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    padding-right: 80px;
}
nav a {
    text-decoration: none;
    color: #d2d2d7;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
nav a:hover {
    color: white;
}
nav {
    display: flex;
    gap: 90px;
}
.nav div {
    max-width: 980px; 
    width: 100%;
    margin: 0 auto;   
    display: flex;
    align-items: center;
    gap: 28px;
}
.sub-header {
    background-color: #000000cc;
    background: #232325;                  
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    color: #e6e6e8;
    padding: 11px ;                      
    position: relative;
    z-index: 900;
}
.sub-inner {
  max-width: 980px;                    
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.sub-header p {
    margin: 0%;
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 90%;
    letter-spacing: 0.1px;
    line-height: 1.25;
}
.sub-link {
    text-decoration: none;
}
.iphone-banner {
    background-color: black;
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-iphone-banner p {
    margin: 0%;
    color: #ffffff;
    text-align: center;
    position: relative;
}
#iPhone-17-Pro {
    padding-top: 20%;
    padding-bottom: 2%;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.1px;
}
#All-out-Pro {
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
}
.iphone-img {
  width: 100%;
  overflow: hidden;          
  display: block;
}
.iphone-img img {
  width: 100%;
  height: auto;
  display: block;
}
